/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --background-color: #111111;
  --on-background-color: #fff;
  --surface-color: #161616;
  --on-surface-color: #fff;
  --accent-color: #ff7347;
  --stroke-color: #262626;
}
